body{
    background-color: rgb(228, 213, 238);
}

@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');

body { font: 12pt Arial; }
h1, h2, h3 { font-family: 'Pacifico' ,cursive; font-weight: bolder ; font-size: 55px;}
button { font-size: 12pt; padding: 30px; }

.header{
    padding: 20px;
}

.links{
    display: inline;
    margin-left: 480px;
}

.principal{
    width: 100%;
    display: flex;
}

  .wrapper {
    width: 100%;
    padding: 20px;
 
    margin-left: 0;
    margin-top: 10px;
  }

.card{
    padding: 10px;
}
